body {
  font-family: "DM Sans", sans-serif;
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*Hero Section*/
.hero-section {
 display: flex;
  justify-content: space-between;
  text-align: flex-start;
  padding: 40px 60px;
  gap: 40px;
  background-color: #0b1139; /*Change to this #0b1139*/
  box-sizing: border-box;
  height: 710px;

}
.hero-left-side{
  display: block;
  flex: 1;
  margin-top: 100px;
  /*padding: 0 90px;*/
  margin-left: 60px;
  }
.hero-right-side {
  display: block;
  flex: 1;
  background-image: url("final.png"); /*Size 1550 by 1080*/
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 75px;
  padding: 195px;
  margin-right: -290px;
  }
#first {
  color: #FDEB9E;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  } 
#second {
  color: azure;
  font-family: "Space Grotesk", sans-serif;
  font-size: 60px;
  font-weight: 700;
  height: 144px;
  margin-top: 15px;
  margin-bottom: 85px; 
  }
#para {
  color: azure;
  font-family: roboto;
  font-size: 24px; 
  line-height: 1.5;
}
.work-button {
  font-family: poppins;
  font-size: 25px;
  background-color: rgb(16, 118, 118);
  color: #ffffff;
  width: 210px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  margin-top: 10px;
  box-shadow: 0 4px 5px rgba(16, 118, 118);
}
.work-button:hover { /*Button Hover CSS*/
  background-color: #FDEB9E;
  color: rgb(16, 118, 118);
  border: 2px solid rgb(16, 118, 118);
  transition: 0.3s;
  transform: translateY(-5px); /* grows 10% bigger */
  box-shadow: 0 5px 15px rgba(16, 118, 118); /* adds a nice pop shadow */
}
/*Tablet View*/
@media (max-width: 900px) {
}
/*Mobile View*/
@media (max-width: 600px) {
  /*Hero Section*/
  .hero-section {
   flex-direction: column;
   padding: 20px;
   gap: 20px;
  }
  .hero-left-side{
   margin: 0;
   text-align: center;
  }
  .hero-right-side {
   margin: 0;
   padding: 0;
   height: 300px;
  }
  #first {
   font-size: 28px;
   font-weight: 400;
  } 
  #second {
   font-size: 32px;
   margin-bottom: 15px;
  }
  #para {
   font-size: 18px; 
  }
  .work-button {
   width: 100%;
   max-width: 250px;
   font-size: 18px;
  }
}  
/*About Section*/ 
.about { 
  display: flex;
  justify-content: space-between; /* push left and right apart */
  align-items: center;             /* vertically center */
  width: 100%;
  max-width: 1200px;               /* keeps content nicely centered */
  margin: 0 auto;                  /* center section on the page */
  padding: 30px 60px;              /* add space from page edges */
  box-sizing: border-box;
}
.about-content-left {
  display: block;
  flex-grow: 1;
  margin-top: 70px;
}
.about-pic-left {
  display: right;
  flex-grow: 1;
  margin-top: 150px;
}
.about-first {
  color: rgb(16, 118, 118);
  font-family: roboto;
  font-size: 20px;
  font-weight: 700;
}
.about-second {
  color: #0A254F;
  font-family: roboto;
  font-size: 47px;
  margin-top: -1px;
}
.about-para {
  color: rgb(0, 0, 0);
  font-family: roboto;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 100px;
  margin-top: -10px;
}
.about-connect {
  color: rgb(13, 72, 112);
}
/*Services Section*/
.services {  /*Same for Project section----.services, .services-content, .services-first, .services-second, .services-para*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-left: 50px;
}
.services-content {
  display: block;
  text-align: center;
  width: 70%; /*Remember through this right left side content spread or shrink*/
  margin-top: 90px;
}
.services-first {
  color: rgb(16, 118, 118);
  font-family: roboto;
  font-size: 20px;
  font-weight: 700;
}
.services-second {
  color: #0A254F;
  font-family: roboto;
  font-size: 47px;
  margin-top: -10px;
}
.services-para {
  color: rgb(0, 0, 0);
  font-family: roboto;
  font-size: 18px;
  line-height: 1.6;
  margin-top: -30px;
}
/*Services List*/
.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 70px 65px;
  box-sizing: border-box;
  margin: -25px auto;
}
.services-box {
  background-color: #f2f2f2;
  border: 1px solid rgb(16, 118, 118); /* 2px d3d3d3*/
  border-radius: 6px;
  padding:  20px 30px 10px 30px;
  color: #0A254F;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  box-shadow: 0px 1px 4px #000000; /*Box ahdow of services boxes*/
}
.box-des {
  color: #222222;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 29.988px; 
  text-size-adjust: 100%;
}
/* Choose Section */
.section-choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 45px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
  gap: 80px;
  margin-top: 90px;
}
.choose-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}
.choose-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex: 1; /*very great difference between flex and flex-grow*/
  gap: 20px;
  margin-top: 15px;
  margin-right: -50px;
}
.choose-first {
  color: rgb(16, 118, 118);
  font-family: "Saira", sans-serif;
  font-size: 20px;
  font-weight: 700;
}  
.choose-second {
  color: #0A254F;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 45px;
  margin-top: -19px;
}
.choose-para {
  color: rgb(0, 0, 0);
  font-family: "Saira", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 100px;
  margin-top: -10px;
}
.choose-first-third-para {
  background-color: #eeeeee;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgb(16, 118, 118);
  box-shadow: 10px 10px #ffffff;
  font-family: "Saira", sans-serif;
  margin-right: 50px;
  box-shadow: 0 1px 2px #0A254F; /* Box shadow of choose section 1st and 3rd Box*/
}
.choose-second-para {
  background-color: rgb(16, 118, 118);
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 10px 10px #ffffff;
  color: #ffffff;
  font-family: "Saira", sans-serif;
  margin-left: 50px;
  box-shadow: 0 1px 2px #0A254F; /*Box shadow of choose section 2nd Box*/
}
/* Projects Section */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 20px;
  margin: 0 auto; /* These two wll center the grid ----margin: 0 auto;---max-width: 1200px;*/
  max-width: 1200px; /*-this one too*/
}
.project-box {
  display: block;
  padding: 90px 30px;
  background-color: #ffffff;
  border: 6px solid rgb(16, 118, 118);
  border-radius: 15px;
  height: 170px;
}
#project-one-pic { /* Project 1 Pic*/
  background-image: url("Projects/project1.png");
  background-repeat: no-repeat;
}
.project-shade-box {
  display: block;
  background-color: #0A254F;
  text-align: left;
  margin-top: 145px;
  margin-left: -30px;
  width: 350px;
  height: 85px;
  border-radius: 5px;
  padding-top: 30px;
}
.project-content-box {
  margin-left: 10px;
  margin-top: -18px;
}
.project-box-heading {
  display: inline;
  font-family: "Saira", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.project-box-para {
  display: inline;
  font-family: "Saira", sans-serif;
  color: #ffffff;
  font-size: 15px; 
  line-height: 1.5px;
}
#project-two-pic { /*Project 2 Pic*/
  background-image: url("Projects/project2.png");
  background-repeat: no-repeat;
}
/*Featue of full image show on click optional---------*/
/* ===== Modal preview styles ===== */
.modal {
  display: none;
  position: fixed;
  inset: 0; /* shorthand for top/right/bottom/left:0 */
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 25px;
  right: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
/*We are at project section we have done with project 1 and 2 images now we are going to upload next projects*/
/*Pending Functionalities*/
/* 1. Do project shade box i blue other green
   2. Add functionality when someone click on it full website picture show 
   3. Add any cursor on project images so people know to click on it */   
.contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px 60px;
  max-width: 1200px;
  margin-top: 90px;
}
.contact-left-side {
  display: block;
  flex: 1;
}
.contact-right-side {
  display: block;
  flex: 1;
}
.contact-first {
  color: rgb(16, 118, 118);
  font-family: roboto;
  font-size: 20px;
  font-weight: 700;
}
.contact-second {
  color: #0A254F;
  font-family: roboto;
  font-size: 47px;
  margin-top: -1px;
}
.contact-para {
  color: rgb(0, 0, 0);
  font-family: roboto;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 100px;
  margin-top: -10px;
}
.contact-connect {
  color: rgb(13, 72, 112);
}
.contact-button {
  font-family: sans-serif;
  font-size: 17px;
  background-color: #0A254F;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border: 2px solid rgb(16, 118, 118);
  border-radius: 6px;
  margin-top: 10px;
  box-shadow: 0 2px 2px #0A254F;
}
.contact-button:hover {
  background-color: rgb(16, 118, 118);
  color: #ffffff;
  border: 2px solid #FDEB9E;
  transition: 0.3s;
  transform: translateY(-5px); /* grows 10% bigger */
  box-shadow: 0 2px 2px rgba(16, 118, 118); 
}
.contact-section-video {
  min-width: 100px;
  max-width: 550px;
}
.contact-img {
  min-width: 100px;
  max-width: 550px;
}